.Bodystyle{	background-repeat: no-repeat;
          	overflow: hidden;
          	background-image: url(4.jpg);
      		background-size: 100% 340%;
      		}
.Button{position: relative;
		left: 890px;
		top:300px;
		font-size: 20px;
		color:white;
		background-color: green;
		width:265px;
		height: 50px;
		border-width: 0px;
		border-radius: 3px;
		background-color: #005737;
		background-image: linear-gradient}
.Visit{	position: relative;
		color: black;
		left: 1050px;
		top: 320px;
		font-size: 100%;
		text-decoration: none;
	}
.Form1{	position: relative;
		top: 250px;
		left: 890px;
		width: 200px;
		height: 50px;
		display: table-cell;
		border-radius: 5px;
		margin: 0 auto;

}
.Form2{	position: relative;
		top: 260px;
		left: 890px;
		height: 50px;
		width: 200px;
}
.Form3{	position: relative;
		top: 270px;
		left: 890px;
		width: 200px;
		height: 50px;}

